{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<center>
    <form method="POST" style="margin: 200px;">
        <h1>Tirate un texto si no sabés</h1>
        <h3>Io te aiudo</h3>
        <br>
        {% if messages %}
            {% for message in messages %}
                <div class='message{{ message.tags }}'> {{ message }}</div>
            {% endfor %}
        {% endif %}
        <table>
            {% csrf_token %}
            {{ form }}
        </table>
        <input type="submit" value="enviar">
    </form>
</center>

  {% endblock %}