{% extends 'base.html' %}

{% block contenido %}
<center>
<div class="container-fluid" style="margin: 100px;">
    <h1>Categor&iacute;as</h1>
    <br>
    <ul>
        {% for categoria in categorias %}
            <li>{{ categoria.nombre }}
            (<a style="color: black;"
            href="{% url 'apps.posts:categoria_delete' pk=categoria.pk %}">Eliminar</a>)</li>
        {% empty %}
            <li>No hay categor&iacute;as</li>
        {% endfor %}
    </ul>
</div>
</center>
{% endblock %}