{% extends 'base.html' %}

{% block contenido %}

<center>
<div class="container-fluid" style="margin: 50px;">
    <h1>Nueva categor&iacute;a</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Agregar">
    </form>
    <div class="container-fluid" style="margin-top: 150px;">
        <a id="boton_post"
        href="{% url 'apps.posts:categoria_lista' %}">Listar todas las categor&iacute;as</a>
    </div>
</div>
</center>
{% endblock %}