{% extends 'base.html' %}
{% load static %}


{% block contenido %}
<center>
<div class="container-fluid" style="margin: 200px;">
    <table>{{ posts.titulo}}</table>
    <table>{{ posts.subtitulo}}</table>
    <table>{{ posts.categoria}}</table>
    <br>
    <table>{{ posts.texto}}</table>

    <img src="{{ posts.imagen.url }}" alt="">

    {% if user.is_superuser %}
    <div class="container-fluid" style="margin-top: 150px;">
        <a id="boton_post" href="{% url 'apps.posts:post_modificar' pk=posts.id %}">Modificar Post</a>
    </div>
    <div class="container-fluid" style="margin-top: 150px;">
        <a id="boton_post" href="{% url 'apps.posts:post_eliminar' pk=posts.pk %}">Eliminar Post</a>
    </div>
    {% endif %}
</div>

{% include 'comentario/comentario_agregar.html' %}

</center>
{% endblock %}